*{
    margin:0;
    padding:0;
}
body{
    background-color:#002339;

}
.heading{
    font-size:2rem;
    margin-left:10rem;
    margin-top:10rem;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}
.heading span{
    color:#019f55;
    border-bottom: solid 4px #019f55;
    padding-bottom:0.5rem;
}
.inputbox{
    margin-left:10rem;
    margin-top:2.5rem;
    width:30rem;
    display:flex;
    justify-content:space-between ;
    background-color: white;
    height:3.5rem;
    border-radius:0.5rem;
    padding:0.25rem;
}
input{
   border:none;
   border:solid 1px white;
   background: transparent;
   width:100%;
}
.inputbox img{
    width:2rem;
    height:2rem;
    margin-top:0.75rem;
    margin-right:0.75rem;
}
.btn{
    margin-left:10rem;
    margin-top:2.5rem;
    display:flex;
    width:15rem;
    height:3rem;
    border-radius:0.25rem;
    background-color: #019f55;
    padding:0.25rem;
}
.btn button{
    background: #019f55;
    border:none;
    color:white;
    margin-left:1rem;
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    cursor: pointer;
}
.btn img{
    width:1.75rem;
    height:1.75rem;
    margin-top:0.5rem;
    margin-left:1rem;
}